<section class="u-bg--error u-padding-y-50">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 offset-md-2 col-md-4">
        <h1 class="o-text--title u-color--white">
          Create a person
        </h1>
        <p class="o-text--body u-color--gray">
          This is body text for that form where we describe why on earth you would give information to anyone on the internet anymore.
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= card(variant: 'white') do %>
          <div class="o-label__wrapper">
            <label for="1" class="o-label u-color--shade">First Name</label>
            <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
          </div>
          <input id="1" class="o-input" />
          <div class="o-label__wrapper">
            <label for="2" class="o-label u-color--shade">Last Name</label>
            <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
          </div>
          <input id="2" class="o-input" />
          <div class="u-clearfix">
            <button class="o-btn c-btn c-btn--right c-btn--success v-full"> Create Person </button>
            <button class="o-btn c-btn c-btn--left c-btn--error v-lightgray"> Cancel </button>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-8">
        <%= card(variant: 'error-115') do %>
          <h2 class="o-text--subtitle u-color--white">Create a person</h2>
          <%= card(variant: 'white') do %>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="o-label__wrapper">
                  <label for="1" class="o-label u-color--shade">First Name</label>
                  <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
                </div>
                <input id="1" class="o-input" placeholder="Matt"/>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="o-label__wrapper">
                  <label for="2" class="o-label u-color--shade">Last Name</label>
                  <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
                </div>
                <input id="2" class="o-input" placeholder="Grannell"/>
              </div>
            </div>
            <div class="o-label__wrapper">
              <label for="3" class="o-label u-color--shade">Email</label>
              <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
            </div>
            <input id="3" class="o-input" placeholder="e.g. matt@grannell.com"/>
            <div class="u-clearfix">
              <button class="o-btn c-btn c-btn--right c-btn--success v-full"> Create Person </button>
              <button class="o-btn c-btn c-btn--left c-btn--error v-lightgray"> Cancel </button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</section>

<section class="u-bg--night u-padding-y-50">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 offset-md-2 col-md-8">
        <%= card(variant: 'night-115') do %>
          <h2 class="o-text--subtitle u-color--white">Create a person</h2>
          <%= card(variant: 'white') do %>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="o-label__wrapper">
                  <label for="1" class="o-label u-color--shade">First Name</label>
                  <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
                </div>
                <input id="1" class="o-input" placeholder="Matt"/>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="o-label__wrapper">
                  <label for="2" class="o-label u-color--shade">Last Name</label>
                  <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
                </div>
                <input id="2" class="o-input" placeholder="Grannell"/>
              </div>
            </div>
            <div class="o-label__wrapper">
              <label for="3" class="o-label u-color--shade">Email</label>
              <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
            </div>
            <input id="3" class="o-input" placeholder="e.g. matt@grannell.com"/>
            <div class="u-clearfix">
              <button class="o-btn c-btn c-btn--right c-btn--success v-full"> Create Person </button>
              <button class="o-btn c-btn c-btn--left c-btn--error v-lightgray"> Cancel </button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</section>

<section class="u-bg--secondary u-padding-y-50">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 offset-md-2 col-md-8">
        <h1 class="o-text--title u-color--white">Person</h1>
        <%= card(variant: 'white') do %>
          <div class="o-label__wrapper">
            <label for="1" class="o-label u-color--shade">First Name</label>
            <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
          </div>
          <input id="1" class="o-input" />
          <div class="o-label__wrapper">
            <label for="2" class="o-label u-color--shade">Last Name</label>
            <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
          </div>
          <input id="2" class="o-input" />
          <div class="u-clearfix">
            <button class="o-btn c-btn c-btn--right c-btn--success v-full"> Create Person </button>
            <button class="o-btn c-btn c-btn--left c-btn--error v-lightgray"> Cancel </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>

<section class="u-bg--shade u-padding-y-50">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 offset-md-2 col-md-4">
        <h1 class="o-text--title u-color--white">Person</h1>
        <%= card(variant: 'night') do %>
          <div class="o-label__wrapper">
            <label for="1" class="o-label u-color--white">First Name</label>
            <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
          </div>
          <input id="1" class="o-input v-shade" />
          <div class="o-label__wrapper">
            <label for="2" class="o-label u-color--white">Last Name</label>
            <abbr class="o-label o-label o-label--right u-color--silver">*Required</abbr>
          </div>
          <input id="2" class="o-input v-shade" />
          <div class="u-clearfix">
            <button class="o-btn c-btn c-btn--right c-btn--success v-full"> Create Person </button>
            <button class="o-btn c-btn c-btn--left c-btn--error v-night-115"> Cancel </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
