<section class="u-bg--lightgray u-padding-y-50">
  <div class="container">

    <h1 class="o-text--title u-color--night">Brand Colours</h1>

    <div class="row">
      <div class="col-sm-4">
        <%= card(variant: 'primary') do %>
          <p class="u-color--white">Primary</p>
          <div class="o-box u-bg--primary-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--primary-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= card(variant: 'secondary') do %>
          <p class="u-color--white">Secondary</p>
          <div class="o-box u-bg--secondary-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--secondary-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

    </div>

    <h1 class="o-text--title u-color--night">Greyscale Colours</h1>

    <div class="row">

      <div class="col-sm-4">
        <%= card(variant: 'night') do %>
          <p class="u-color--white">Night</p>
          <div class="o-box u-bg--night-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--night-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= card(variant: 'shade') do %>
          <p class="u-color--white">Shade</p>
          <div class="o-box u-bg--shade-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--shade-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= card(variant: 'silver') do %>
          <p class="u-color--white">Silver</p>
          <div class="o-box u-bg--silver-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--silver-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-4">
        <%= card(variant: 'gray') do %>
          <p class="u-color--night">Gray</p>
          <div class="o-box u-bg--gray-115">
            <p class="u-color--night u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--gray-130">
            <p class="u-color--night u-margin-0">130</p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= card(variant: 'lightgray') do %>
          <p class="u-color--night">Light Gray</p>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= card(variant: 'white') do %>
          <p class="u-color--night">White</p>
        <% end %>
      </div>

    </div>

    <h1 class="o-text--title u-color--night">Utility Colours</h1>

    <div class="row">

      <div class="col-sm-4">
        <%= card(variant: 'error') do %>
          <p class="u-color--white">Error</p>
          <div class="o-box u-bg--error-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--error-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= card(variant: 'warning') do %>
          <p class="u-color--white">Warning</p>
          <div class="o-box u-bg--warning-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--warning-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <%= card(variant: 'success') do %>
          <p class="u-color--white">Success</p>
          <div class="o-box u-bg--success-115">
            <p class="u-color--white u-margin-0">115</p>
          </div>
          <div class="o-box u-bg--success-130">
            <p class="u-color--white u-margin-0">130</p>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</section>
